table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid;
}

tr {
    height: 40px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

